inference/landing/*
!inference/landing/out/

# NodeJS (landing page)
**/node_modules/
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws

# Python (inference)
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
development
.pytest_cache
cache-test
scratch
lora-bases
lora-tars
tmptmp
