watch-dev.sh
cpu_http.py

# IDE
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
_classes.csv
node_modules/


# Build directories
theme/node_modules/
theme/assets/dist/
theme/assets/styles.css
docs/static/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.pytest.env*

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

deps/
profile/
*.onnx
*.jpg
*.pstats
*.jpeg
*.png
!favicon.png
!icon.png
*.mp4
*.roboflow.txt
dev_tools/
*.tmp
ASL-*
README.dataset*
_annotations*

export_api_keys.sh
inference_cli/version.py
inference_sdk/version.py

**/.DS_Store
!tests/inference/unit_tests/core/interfaces/assets/*.mp4
!inference/enterprise/stream_management/assets/*.jpg
!tests/inference/models_predictions_tests/assets/*.jpg
!tests/inference/unit_tests/enterprise/workflows/assets/*.png
tests/inference/models_predictions_tests/assets/*.zip
!inference/enterprise/workflows/assets/*.jpg
dev.py
scratch
!tests/inference/unit_tests/core/utils/assets/*.png
!tests/inference/unit_tests/core/utils/assets/*.jpg
docs/workflows/blocks/*
docs/workflows/kinds/*
docs/workflows/gallery/*
docs/reference/*
docs/inference_helpers/cli_commands/reference.md
docs/openapi.json
!tests/workflows/integration_tests/execution/assets/*.jpg
!tests/workflows/integration_tests/execution/assets/rock_paper_scissors/*.jpg
!tests/workflows/unit_tests/core_steps/models/third_party/assets/*.png
!tests/workflows/integration_tests/execution/assets/*.png
tests/inference_cli/integration_tests/assets/test_images/
inference_profiling
tests/inference_sdk/unit_tests/http/inference_profiling

!tests/google_colab/assets/*.jpeg

# Environment
.env.*
!.env.example

# System files
.DS_Store
*.pem



!app_bundles/**/*.spec
!app_bundles/**/*.png
inference_experimental/tests/integration_tests/models/assets/
inference_experimental/tests/integration_tests/e2e/assets/

# Support Investigation Artifacts
support-investigations/*
