site_name: Roboflow Inference
site_url: https://roboflow.github.io/inference/
site_author: Roboflow
site_description: With no prior knowledge of machine learning or device-specific deployment, you can deploy a computer vision model to a range of devices and environments using the Roboflow Inference Server.
repo_name: roboflow/inference
repo_url: https://github.com/roboflow/inference
edit_uri: https://github.com/roboflow/inference/tree/main/docs
copyright: Roboflow 2023. All rights reserved.

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/roboflow
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/roboflow
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/roboflow-ai/mycompany/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/roboflow
  analytics:
    provider: google
    property: G-T0CED2YY8K
  version:
    default: 1.0

extra_css:
  - styles.css

nav:
  - Home: index.md
  - Quickstart:
    - Docker: quickstart/docker.md
    - HTTP Inference: quickstart/http_inference.md
    - CLIP Example: https://github.com/roboflow/inference/tree/main/examples/clip-search-engine
    - SAM Example: https://github.com/roboflow/inference/tree/main/examples/sam-client
    - Gaze Detection Example: https://github.com/roboflow/inference/tree/main/examples/gaze-detection
    - UDP and Video Examples: https://github.com/roboflow/inference/tree/main/examples/inference-client
  - API Reference: api.md
  - Library Reference:
    - Models:
      - CLIP: library/models/clip.md
      - Gaze: library/models/gaze.md
      - Segment Anything: library/models/segment_anything.md
      - ViT Classification: library/models/vit_classification.md
      - YOLOv5 Object Detection: library/models/yolov5.md
      - YOLOv8 Object Detection: library/models/yolov8.md
      - YOLOv8 Classification: library/models/yolov8_classification.md
      - YOLOv7 Instance Segmentation: library/models/yolov7_instance_segmentation.md
      - YOLOv8 Instance Segmentation: library/models/yolov8_segmentation.md
      - YOLO-ACT Instance Segmentation: library/models/yoloact_segmentation.md
    - Model Managers:
      - Base Manager: library/model_managers/base.md
      - Pingback Manager: library/model_managers/pingback.md
    - Model Registries:
      - Base Registry: library/model_registries/base.md
      - Roboflow Registry: library/model_registries/roboflow.md
    - Interfaces:
      - Base Interface: library/interfaces/base.md
      - HTTP Interface: library/interfaces/http.md
      - UDP Stream Interface: library/interfaces/udp.md
  - Add a Model: add_a_model.md
  - Inference SDK - HTTP client: inference_sdk/http_client.md
  - Contributing: contributing.md
  - Changelog: changelog.md

theme:
  name: 'material'
  logo: https://media.roboflow.com/inference-icon.png
  favicon: https://media.roboflow.com/nference-icon.png
  font:
    text: Roboto
    code: Roboto Mono

plugins:
  - mkdocstrings
  - search
  - swagger-ui-tag

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
