site_name: Roboflow Inference
site_url: https://inference.roboflow.com/
site_author: Roboflow
site_description: Scalable, on-device computer vision deployment.
repo_name: roboflow/inference
repo_url: https://github.com/roboflow/inference
edit_uri: https://github.com/roboflow/inference/tree/main/docs
copyright: Roboflow 2024. All rights reserved.

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/roboflow
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/roboflow
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/roboflow-ai/mycompany/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/roboflow
  analytics:
    provider: google
    property: G-T0CED2YY8K
  version:
    default: 1.0

extra_css:
  - styles.css
  - styles/cookbooks.css

nav:
  - Roboflow Inference:
      - What is Inference?: index.md
      - Enterprise Features: enterprise/enterprise.md
      - Inference Basics:
          - Roboflow Ecosystem: quickstart/roboflow_ecosystem.md
          - 'Models: Popular': quickstart/aliases.md
          - 'Models: Fine-tuned': quickstart/explore_models.md
          - 'Models: Universe': quickstart/load_from_universe.md
          - 'Models: Local Weights': models/from_local_weights.md
      - Supported Fine-Tuned Models:
          - YOLOv10: fine-tuned/yolov10.md
          - YOLOv9: fine-tuned/yolov9.md
          - YOLOv8: fine-tuned/yolov8.md
          - YOLOv7: fine-tuned/yolov7.md
          - YOLOv5: fine-tuned/yolov5.md
          - YOLO-NAS: fine-tuned/yolonas.md
      - Foundation Model:
          - What is a Foundation Model?: foundation/about.md
          - CLIP (Classification, Embeddings): foundation/clip.md
          - CogVLM (Multimodal Language Model): foundation/cogvlm.md
          - DocTR (OCR): foundation/doctr.md
          - Florence-2: foundation/florence2.md
          - TrOCR (OCR): foundation/trocr.md
          - Grounding DINO (Object Detection): foundation/grounding_dino.md
          - L2CS-Net (Gaze Detection): foundation/gaze.md
          - PaliGemma: foundation/paligemma.md
          - Segment Anything (Segmentation): foundation/sam.md
          - Segment Anything 2 (Segmentation): foundation/sam2.md
          - YOLO-World (Object Detection): foundation/yolo_world.md
          - OwlV2 (Object Detection): foundation/owlv2.md
      - Run a Model:
          - Getting started: quickstart/run_a_model.md
          - Predict on an Image Over HTTP: quickstart/run_model_on_image.md
          - Predict on a Video, Webcam or RTSP Stream: quickstart/run_model_on_rtsp_webcam.md
          - Predict Over UDP: quickstart/run_model_over_udp.md
          - Keypoint Detection: quickstart/run_keypoint_detection.md
      - Deploy a Model:
          - Configure Your Deployment: https://roboflow.github.io/deploy-setup-widget/results.html
          - How Do I Run Inference?: quickstart/inference_101.md
          - What Devices Can I Use?: quickstart/devices.md
          - Retrieve Your API Key: quickstart/configure_api_key.md
          - Model Licenses: https://roboflow.com/licensing
  - Workflows:
      - About Workflows: workflows/about.md
      - Create And Run: workflows/create_and_run.md
      - Ecosystem: workflows/understanding.md
      - Blocks Overview: workflows/blocks_connections.md
      - Blocks Gallery: workflows/blocks.md
      - Examples: workflows/gallery_index.md
      - Video Processing: workflows/video_processing/overview.md

      - User Guide:
        - Running Workflows: workflows/modes_of_running.md
        - Workflows Definitions: workflows/definitions.md
        - Workflow Execution: workflows/workflow_execution.md
      - Developer Guide:
        - Compiler: workflows/workflows_compiler.md
        - Execution Engine: workflows/workflows_execution_engine.md
        - Kinds: workflows/kinds.md
        - Blocks Creation: workflows/create_workflow_block.md
        - Data Representations: workflows/internal_data_types.md
        - Blocks Bundling: workflows/blocks_bundling.md
        - Dynamic Python Blocks: workflows/custom_python_code_blocks.md
        - Versioning: workflows/versioning.md
        - Testing: workflows/testing.md
        - Schema API: workflows/schema_api.md
        - Changelog: workflows/execution_engine_changelog.md
  - Reference:
      - Inference Pipeline: using_inference/inference_pipeline.md
      - Active Learning:
          - Use Active Learning: enterprise/active-learning/active_learning.md
          - Sampling Strategies:
              - Random Sampling: enterprise/active-learning/random_sampling.md
              - Detection Number: enterprise/active-learning/detection_number.md
              - Close to Threshold Sampling: enterprise/active-learning/close_to_threshold_sampling.md
              - Classes Based: enterprise/active-learning/classes_based.md
      - Enterprise Features:
          - Parallel HTTP API: enterprise/parallel_processing.md
          - Stream Management API: enterprise/stream_management_api.md
      - Inference Helpers:
          - Inference Landing Page: inference_helpers/inference_landing_page.md
          - Inference CLI:
              - About CLI: inference_helpers/inference_cli.md
              - Control The Server: inference_helpers/cli_commands/server.md
              - Run Workflows: inference_helpers/cli_commands/workflows.md
              - Benchmark Inference: inference_helpers/cli_commands/benchmark.md
              - Make Predictions: inference_helpers/cli_commands/infer.md
              - Deploy To Cloud: inference_helpers/cli_commands/cloud.md
          - Inference SDK: inference_helpers/inference_sdk.md
      - inference configuration:
          - Environmental variables: server_configuration/environmental_variables.md
          - Security of input formats: server_configuration/accepted_input_formats.md
          - Service telemetry: server_configuration/service_telemetry.md
      - Reference:
          - Inference API Reference: docs/reference/
          - Running With Docker: quickstart/docker.md
          - Docker Configuration Options: quickstart/docker_configuration_options.md
          - Install “bare metal” Inference GPU on Windows: quickstart/inference_gpu_windows.md
          - Contribute to Inference: contributing.md
          - Changelog: https://github.com/roboflow/inference/releases
  - Cookbooks: cookbooks.md

theme:
  name: 'material'
  logo: inference-icon.png
  favicon: inference-icon.png
  custom_dir: docs/theme
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.prune
    - navigation.footer
    - navigation.tracking
    - navigation.indexes
    - navigation.sections
    - content.code.copy

  palette:
    - scheme: default
      primary: 'custom'
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    - scheme: slate
      primary: 'custom'
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - mkdocstrings:
      handlers:
        python:
          paths: [.]
  - search
  - swagger-ui-tag
  - mkdocs-jupyter
  - social:
      cards_layout_dir: docs/layouts
      cards_layout: custom
  - gen-files:
      scripts:
        - docs/scripts/gen_ref_pages.py
  - literate-nav:
      nav_file: nav.md
  - macros:
      include_dir: docs/include

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

extra_javascript:
  - 'https://widget.kapa.ai/kapa-widget.bundle.js'
  - 'javascript/init_kapa_widget.js'
  - 'javascript/cookbooks.js'
