**/node_modules/
**/dist
.git
npm-debug.log
.coverage
.coverage.*
.env
.aws

# Python (inference)
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache
.pytest_cache
.hypothesis
development
cache-test
scratch
lora-bases
lora-tars
tmptmp
README.md
dist
inference_exp.egg-info
.python-version