{% extends "base.html" %}

{% set is_home = not page.url %}

{% block tabs %}
  {{ super() }}
  {% if is_home %}
    {% include 'home.html' %}
    <style>
      main.md-main {
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }
    </style>
  {% endif %}
{% endblock %}

{% block container %}
  {% if is_home %}
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block extrahead %}
  {{ super() }}
  {% if is_home %}
    <link href="{{ 'https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css'|url }}" rel="stylesheet">
    <link href="{{ 'static/styles.css'|url }}" rel="stylesheet">
    <script type="module" src="{{ 'static/dist/home.js'|url }}"></script>
  {% endif %}
{% endblock %}
