@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

#aboveFold {
  background: url("/gradient-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#dividerGradient {
  background: linear-gradient(
    90deg,
    #fff 0%,
    #35ecd9 25%,
    #8315f9 50%,
    #35ecd9 75%,
    #fff 100%
  );
}

.leftAlignedBreakpoints {
  @apply px-4 sm:px-[10%] 2xl:px-[25%];
}
