aiortc~=1.9.0
APScheduler>=3.10.1,<4.0.0
asyncua~=1.1.5
cython~=3.0.0
python-dotenv~=1.0.0
fastapi>=0.100,<0.111
numpy<=1.26.4
opencv-python>=4.8.1.78,<=4.10.0.84
pillow<11.0
prometheus-fastapi-instrumentator<=6.0.0
redis~=5.0.0
requests>=2.32.0,<3.0.0
rich>=13.0.0,<13.10.0
supervision>=0.25.1,<=0.30.0
pybase64~=1.0.0
scikit-image>=0.19.0,<=0.24.0
requests-toolbelt~=1.0.0
wheel>=0.38.1,<=0.45.0
setuptools>=70.0.0  # lack of upper-bound to ensure compatibility with Google Colab (builds to define one if needed)
networkx~=3.1
pydantic~=2.6
pydantic-settings~=2.2
openai>=1.12.0,<2.0.0
structlog>=24.1.0,<25.0.0
zxing-cpp~=2.2.0
boto3<=1.35.60
typing_extensions>=4.8.0,<=4.12.2
pydot~=2.0.0
shapely>=2.0.0,<2.1.0
tldextract~=5.1.2
packaging~=24.0
anthropic~=0.34.2
pandas>=2.0.0,<2.3.0
paho-mqtt~=1.6.1
pytest>=8.0.0,<9.0.0  # this is not a joke, sam2 requires this as the fork we are using is dependent on that, yet
# do not mark the dependency: https://github.com/SauravMaheshkar/samv2/blob/main/sam2/utils/download.py
tokenizers>=0.19.0,<=0.21
slack-sdk~=3.33.4
twilio~=9.3.7
httpx>=0.25.1,<0.28.0  # must be pinned as bc in 0.28.0 is causing Anthropics to fail
pylogix==1.0.5
pymodbus>=3.6.9,<=3.8.3
