aiortc>=1.9.0,<2.0.0
APScheduler>=3.10.1,<4.0.0
cython~=3.0.0
python-dotenv~=1.0.0
fastapi>=0.100,<0.111
numpy<=1.26.4
opencv-python>=4.8.1.78,<=4.10.0.84
piexif~=1.1.3
pillow<11.0
prometheus-fastapi-instrumentator~=7.0.0
redis~=5.0.0
requests>=2.26.0,<2.32.3
rich~=13.0.0
supervision>=0.21.0,<=0.25.0
pybase64~=1.0.0
scikit-image>=0.19.0,<=0.24.0
requests-toolbelt~=1.0.0
wheel>=0.38.1,<=0.45.0
setuptools>=70.0.0  # lack of upper-bound to ensure compatibility with Google Colab (builds to define one if needed)
networkx~=3.1
pydantic~=2.6
pydantic-settings~=2.2
openai>=1.12.0,<2.0.0
structlog>=24.1.0,<25.0.0
zxing-cpp~=2.2.0
boto3<=1.35.60
typing_extensions>=4.8.0,<=4.12.2
pydot~=2.0.0
shapely>=2.0.0,<2.1.0
tldextract~=5.1.2
packaging~=24.0
anthropic~=0.34.2
pandas>=2.0.0,<2.3.0
