aiortc
APScheduler
asyncua
cachetools
cython
python-dotenv
fastapi  # be careful with upper pin - fastapi might remove support for on_event
numpy>=2.0.0,<3.0.0
opencv-python>=4.8.1.78,<=4.10.0.84
opencv-contrib-python>=4.8.1.78,<=4.10.0.84  # Note: opencv-python considers this as a bad practice, but since our dependencies rely on both we pin both here
pillow
prometheus-fastapi-instrumentator
redis
requests
rich
supervision
pybase64
scikit-image
requests-toolbelt
wheel
setuptools  # lack of upper-bound to ensure compatibility with Google Colab (builds to define one if needed)
networkx
pydantic
pydantic-settings
openai
structlog
zxing-cpp
boto3
typing_extensions
pydot
shapely
tldextract
packaging
anthropic
pandas
paho-mqtt
pytest  # this is not a joke, sam2 requires this as the fork we are using is dependent on that, yet
# do not mark the dependency: https://github.com/SauravMaheshkar/samv2/blob/main/sam2/utils/download.py
tokenizers
slack-sdk
twilio
httpx>=0.25.1,<0.28.0  # must be pinned as bc in 0.28.0 is causing Anthropics to fail
pylogix
pymodbus
backoff
filelock
