requests>=2.33.0,<3.0.0
urllib3>=1.26,<3.0.0
tldextract~=5.1.2
dataclasses-json~=0.6.0
opencv-python>=4.8.1.78,<=4.10.0.84
pillow>=12.2.0,<13.0.0
supervision>=0.26; python_version < "3.10"
superiorvision>=0.30.0.dev0; python_version >= "3.10"
numpy>=2.0.0,<2.4.0
aiohttp~=3.14.0
backoff~=2.2.0
py-cpuinfo~=9.0.0
