# TODO: update to 2.8.0 once pre-built flashattn is available
torch>=2.0.1,<2.7.0
torchvision>=0.15.0
transformers==4.57.1
timm~=1.0.0
#accelerate>=0.32,<1.0.0
accelerate>=1.0.0,<2.0.0
einops>=0.7.0,<=0.8.0
peft~=0.15.0
num2words~=0.5.14
bitsandbytes>=0.42.0,<0.46.0
num2words~=0.5.14
pyvips[binary]>=2.2.3
