zensical==0.0.33
mkdocstrings[python]
mkdocs-gen-files
mkdocs-literate-nav
mkdocs-ezlinks-plugin
mkdocs-macros-plugin
mkdocs-jupyter
mkdocs-swagger-ui-tag
pillow
jinja2

# Pin due to a compatibility issue between
# nbconvert, mistune, and the mkdocs-jupyter plugin.
# Specifically, the MathBlockParser class in the mistune
# library is trying to access a method parse_axt_heading,
# which likely stems from a typo or mismatch in versions
# between the libraries.
mistune==2.0.4
nbconvert==7.17.1