uvicorn[standard]<=0.34.0
python-multipart==0.0.26
fastapi-cprofile<=0.0.2
orjson>=3.11.6,<4.0.0
asgi_correlation_id~=4.3.1
opentelemetry-api~=1.27.0
opentelemetry-sdk~=1.27.0
opentelemetry-exporter-otlp-proto-grpc~=1.27.0
opentelemetry-exporter-otlp-proto-http~=1.27.0
opentelemetry-instrumentation-fastapi~=0.48b0
opentelemetry-instrumentation-requests~=0.48b0
