aiohttp>=3.9.0
aioresponses>=0.7.6
backoff>=2.2.0
dataclasses-json>=0.6.0
numpy>=1.20.0
opencv-python>=4.8.0.0
pillow>=9.0.0
py-cpuinfo>=9.0.0
requests-mock>=1.11.0
requests>=2.27.0
supervision<1.0.0
