onnxruntime-gpu>=1.15.1,<1.22.0
inference-models[torch-cu124,onnx-cu12] @ git+https://github.com/roboflow/inference.git@feat/model-eval-recommended-defaults#subdirectory=inference_models  # keep in sync between requirements.jetson requirements.gpu.txt, requirements.cpu.txt, requirements.vino.txt
