requests>=2.0.0
dataclasses-json>=0.6.0
opencv-python>=4.8.1.78,<=4.10.0.84
pillow>=9.0.0
requests>=2.27.0
supervision>=0.20.0,<1.0.0
numpy<=1.26.4
aiohttp>=3.9.0,<=3.10.11
backoff>=2.2.0
aioresponses>=0.7.6
py-cpuinfo>=9.0.0
